﻿
@model List<UserVM>
@{
    ViewData["Title"] = "Index";
}

<div style="margin-right:100px" class="container mt-5">
    <h1 class="text-center mt-3 mb-3">Categories</h1>
    <a class="btn btn-success" asp-action="AddRoleToUser">Add Role</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        FullName
                    </th>

                    <th>
                        Email
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Role
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>

                        <td>
                            @user.FullName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.Username
                        </td>

                        <td>
                            @foreach (var name in user.RoleName)
                            {

                                <span> @name</span>

                            }
                        </td>


                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

