
@*@model SettingCreateVM
@{
    ViewData["Title"] = "Create";
}
<div style="margin-right:100px" class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
       

        <div class="form-group mb-3">
           
        </div>
       
            <div class="form-group">
                <label asp-for="ImageValue">Image</label>
                <input asp-for="ImageValue" class="form-control my-3">
                <span class="text-danger" asp-validation-for="ImageValue"></span>
            </div>
        
        

            <div class="form-group mb-3">
                <label asp-for="Value">Description</label>
                <input asp-for="Value" type="text" class="form-control ">
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        


        
        <button type="submit" class="btn btn-primary mr-4">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back</a>
    </form>
</div>*@

