@model List<ProductVM>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-12 mb-60">

        <div data-id="@item.Id" class="product">

            <!-- Image Wrapper -->
            <div class="image">
                <!-- Image -->
                <a href="product-details.html" class="img"><img src="~/img/product/@item.Image" alt="Product"></a>
                <!-- Wishlist -->
                <a href="#" class="wishlist wishlist-add"><i class="fa fa-heart-o"></i></a>
                <!-- Label -->
                <span class="label">New</span>
            </div>

            <!-- Content -->
            <div class="content">

                <!-- Head Content -->
                <div class="head fix">

                    <!-- Title & Category -->
                    <div class="title-category float-left">
                        <h5 class="title"><a href="product-details.html">@item.Name</a></h5>
                        <a href="shop.html" class="category">@item.CategoryName</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                        <span class="new">$@item.Price</span>
                        <!-- Old Price Mockup If Need -->
                        <!-- <span class="old">$46</span> -->
                    </div>

                </div>

                <!-- Action Button -->

                <div class="@(User.Identity.IsAuthenticated ? "add-to-cart": "")  fix action-button ">
                    <a asp-controller="Account" asp-action="Login">add to cart</a>
                </div>

            </div>

        </div>

    </div>
}
