﻿
@model TagCreateVM
@{
    ViewData["Title"] = "Create";
}

<div style="margin-right:100px" class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control ">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-4">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back</a>
    </form>
</div>

