@model BrandVM
@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-5" style="margin-right:100px">
    <div class="image">
        <img src="~/img/client/@Model.Image" style="width:30%; height:30%;" />
    </div>


    <div class="back mt-2">
        <a class="btn btn-info text-white" asp-action="Index">Back</a>
    </div>
</div>

