
@model ContactInfoVM
@{
    ViewData["Title"] = "InfoDetail";
}

<div style="margin-right:100px" class="container mt-5">
    <h3>Text</h3>
    <div class="slider-text">
        <p>@Model.Description</p>
    </div>

   @* <div class="back mt-2">
        <a class="btn btn-info text-white" asp-action="InfoIndex">Back</a>
    </div>*@
</div>

