
@model List<ContactMessageVM>
@{
    ViewData["Title"] = "MessageIndex";
}

<div class="container" style="margin-right:100px">
    <h1 class="text-center mt-3 mb-3">Contact Messages</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model)
                {
                    <tr>
                        <td class="py-1">
                            @message.Name
                        </td>
                        <td class="py-1">
                            @message.Email
                        </td>
                        <td class="py-1">
                            @*@message.Message.Substring(0, (int)Math.Ceiling(message.Message.Length * 0.2)) ....*@
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="MessageDetail" asp-route-id="@message.Id">Detail</a>
                            <form class="d-inline-block" method="post" asp-action="MessageDelete" asp-route-id="@message.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

