@model ContactVM
@{
    ViewData["Title"] = "Index";
}

<!-- Page Banner Section Start-->
<div class="page-banner-section section" style="background-image: url(/img/bg/page-banner.jpg)">
    <div class="container">
        <div class="row">

            <!-- Page Title Start -->
            <div class="page-title text-center col">
                <h1>contact us</h1>
            </div><!-- Page Title End -->

        </div>
    </div>
</div><!-- Page Banner Section End-->
<!-- Contact Section Start-->
<div class="contact-section section bg-white pt-120">
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-12 ml-auto mr-auto">

                <div class="contact-wrapper">
                    <div class="row">

                        <div class="contact-info col-lg-5 col-12">
                            <h4 class="title">Contact Info</h4>
                            <p>@Model.Description</p>
                            <ul>
                                <li><span>Address:</span>@Model.Address</li>
                                <li><span>Email:</span>@Model.Email</li>
                                <li><span>Phone:</span>@Model.Phone</li>
                            </ul>
                            <div class="contact-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="contact-form col-lg-7 col-12">
                            <h4 class="title">Send Your Massage</h4>
                            <form id="contact-form" action="https://demo.hasthemes.com/christ-preview/christ/mail.php" method="post">
                                <input type="text" name="name" placeholder="Your Name">
                                <input type="email" name="email" placeholder="Your Email">
                                <textarea name="message" placeholder="Your Message"></textarea>
                                <input type="submit" value="Submit">
                            </form>
                            <p class="form-messege"></p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div><!-- Contact Section End-->B
<!-- Contact Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" id="contact-map"></iframe>


